<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="header">
                <h1>Login form</h1>
                <p class="demo">Demo Credentials: Admin / Admin@1234</p>

            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-wrapper">
                {% for category, msg in messages %}
                <div class="flash-msg {{ category }}">{{ msg }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form method="post" class="lForm" action="{{url_for('submit')}}">
                <div class="input-group">
                    <label for="username">Username </label>
                    <input type="text" name="username" id="username" class="input-field">
                    <p class="errMsg"></p>
                </div>
                <div class="input-group">

                    <label for="password">Password </label>
                    <div class="password-wrapper">
                        <input type="password" name="password" id="password" class="input-field">
                        <button type="button" id="togglePassword" class="toggle-btn">Show</button>
                    </div>
                    <p class="errMsgPass"></p>
                </div>
                <div class="input-group">
                    <input type="submit" value="Login" class="input-btn">
                </div>




            </form>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>